.sidebar-link {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 8px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
  opacity: 0.75;

  &:hover {
    background: rgba(127, 127, 127, 0.2);
  }

  &.active {
    background: rgba(127, 127, 127, 0.1);
  }
}
