@import "./layout.scss";
@import "./input.scss";
@import "./color.scss";
@import "./table.scss";
@import "./image_grid.scss";
@import "./skeleton.scss";

.dark {
  .atlaskit-portal > * {
    background: #1c1c25;
    border: 1px solid;
    border-color: #2e2e3b;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #f6f7f8;
  margin: 0;
  height: 100vh;
}

.dark {
  body {
    background: $bg-dark;
    color: white;
  }
}

.hover {
  transition: filter 0.1s ease-in-out;
}

.hover:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

#nprogress .bar {
  z-index: 1111 !important;
  background: $secondary !important;
}
